.auth {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth .container {
    width: 90%;
    max-width: 400px;
    background-color: var(--black-color);
    padding: 2rem 3rem;
    border-radius: 10px;
}

.auth .container h2 {
    color: var(--light-green);
    text-align: center;
    margin-bottom: 2rem;
}

.auth .group {
    margin-bottom: 1rem;
}

.auth .group label {
    display: block;
    color: var(--light-green);
    margin-bottom: .3rem;
}

.auth .group input {
    padding: .6rem;
    width: 100%;
    border-radius: 5px;
    outline: none;
}

.auth .error {
    background-color: var(--background-danger);
    color: var(--text-danger);
    border: 1px solid var(--border-danger);
}

.auth .success {
    background-color: var(--background-success);
    color: var(--text-success);
    border: 1px solid var(--border-success);
}

.auth .error,
.auth .success {
    margin-top: .5rem;
    border-radius: 5px;
    padding: .3rem 1rem;
}

.auth .error span,
.auth .success span {
    display: block;
    margin: .3rem 0;
}

.auth .forgot {
    display: block;
    text-align: right;
    text-decoration: none;
    color: var(--light-green);
}

.auth .submit {
    display: block;
    margin: 0 auto;
    margin-top: 5rem;
    padding: .5rem 2rem;
    background-color: var(--light-green);
    border: 1px solid var(--light-green);
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.auth .submit:hover {
    color: var(--light-green);
    background-color: transparent;
    border: 1px solid var(--light-green);
  }
  