.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
}

.home .bottom {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
  gap: 15px;
}

.bottom .profile {
  width: 350px;
}

.home .menu {
  width: calc(100% - 380px);
  display: flex;
  flex-direction: column;
}

.menu .title span {
  display: inline-block;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.title .open {
  border-bottom: 2px solid var(--light-green);
}

.menu .contents {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  overflow-y: auto;
  border-radius: 10px;
  margin-top: .5rem;
  padding: 1rem;
  height: 500px;
}

.menu .contents::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.menu .contents::-webkit-scrollbar {
	width: 5px;
	background-color: #F5F5F5;
}

.menu .contents::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--dark-grey);
}

@media screen and (max-width: 1100px) {
  .home .bottom {
    flex-direction: column;
    gap: 20px;
  }

  .home .bottom > div {
    width: 100%;
  }

  .menu .contents {
    height: auto;
    overflow: auto;
  }
}