.jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3rem;
}

.jumbotron img {
  margin-top: 3rem;
  width: 40%;
  height: 40%;
}

.jumbotron h1 {
  text-align: center;
  color: var(--dark-green);
  margin: 0 1.5rem;
}

.jumbotron button {
  outline: none;
  border: none;
  margin: 2rem 0;
  font-size: 1.7rem;
  padding: .5rem 2rem;
  background-color: var(--black-color);
  border-radius: 20px;
  cursor: pointer;
  color: var(--light-green)
}

.about {
  background-color: var(--black-color);
  padding: 3rem 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.about img {
  width: 40%;
  height: 40%;
}

.about .info {
  margin-top: 1rem;
  width: 40%;
  text-align: center;
}

.about .info h1 {
  margin: 2rem 0;
}

.about .info h1 > span {
  color: var(--light-green)
}

.features {
  margin: 5rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.features img {
  width: 30%;
  height: 30%;
}

.features .info h1 {
  text-transform: uppercase;
  margin-bottom: 2rem;
  color: var(--dark-green);
}

.features .details {
  display: flex;
  margin: 3rem 0;
  align-items: center;
  gap: 20px;
}

.features .details img {
  width: 60px;
}

.features .details span {
  font-size: 1.2rem;
}

@media screen and (max-width: 790px) {
  .about {
    flex-direction: column;
    align-items: center;
  }

  .about .info {
    width: 100%;
    padding: 0 2rem;
  }

  .about .info h1 {
    align-items: flex-start;
    margin: 2rem 0;
    width: 100%
  }

  .features {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .features .info h1 {
    text-align: center;
  }

  .features .info {
    padding: 0 2rem;
  }
}