.show-profile {
  display: flex;
  width: 100%;
  padding: 2rem;
  background-color: var(--grey-color);
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.show-profile .dual-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.show-profile .form-big-group {
  padding: 2rem;
  background-color: var(--black-color);
  border-radius: 10px;
  width: 450px;
}

.show-profile .form-big-group h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--light-green);
}

.show-profile .form-group {
  margin: 1rem 0;
}

.show-profile .form-group label {
  display: block;
  color: var(--light-green);
  margin-bottom: .3rem;
}

.show-profile .form-group input {
  padding: .5rem;
  border-radius: 5px;
  width: 100%;
  outline: none;
  border: none;
}

.show-profile .submit-btn {
  display: block;
  margin: 0 auto;
  padding: .5rem 1.5rem;
  background-color: var(--light-green);
  color: var(--black-color);
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1220px) {
  .profile {
    width: 450px;
  }
}

@media screen and (max-width: 860px) {
  .profile,
  .show-profile .dual-form,
  .show-profile .form-big-group {
    width: 100%;
  }
}