.sidebar {
  background-color: var(--black-color);
  min-width: 270px;
}

.sidebar ul {
  list-style: none;
  padding-top: 1rem;
}

.sidebar > ul > li {
  color: var(--yellow-color);
  padding: 1rem;
}

.sidebar > ul > li:hover {
  background-color: var(--light-green);
  font-weight: bold;
}

.sidebar > ul > li > span {
  padding-left: 1rem;
}

.sidebar li {
  cursor: pointer;
}

.sidebar .parent {
  position: relative;
}

.sidebar .arrow {
  position: absolute;
  right: 30px;
}

.sidebar .aOpen {
  transform: rotate(90deg) translate(-7px, -7px);
}

.parent .child {
  display: none;
}

.parent .cOpen {
  display: block;
}

.parent .child > li {
  padding: 1rem;
  border-left: 1px solid var(--yellow-color);
}

.parent .child > li:hover {
  color: var(--black-color);
}

@media screen and (max-width: 860px) {
  .sidebar {
    display: none;
  }

  .sOpen {
    display: block;
  }
}