.sidebar {
  background-color: var(--black-color);
  width: 30%;
  max-width: 270px;
}

.sidebar ul {
  list-style: none;
  padding-top: 1rem;
}

.sidebar > ul > li {
  color: var(--yellow-color);
  padding: 1rem;
}

.sidebar > ul > li:hover {
  background-color: var(--light-green);
  font-weight: bold;
}

.sidebar ul.dropdowns {
  display: none;
}

.sidebar ul.dropdowns.open {
  display: block;
}

.sidebar ul.dropdowns > li {
  padding: 1rem;
  border-left: 1px solid var(--yellow-color);
}

.sidebar ul.dropdowns > li:hover {
  color: var(--black-color);
}