.tasks {
  position: relative;
  padding: 2rem;
  width: 100%;
  flex: 1;
}

.tasks .success {
  margin: .5rem 0 1rem 0;
  border-radius: 5px;
  padding: .3rem 1rem;
  background-color: var(--background-success);
  color: var(--text-success);
  border: 1px solid var(--border-success);
}

.tasks .success span {
  display: block;
  margin: .3rem 0;
}

.tasks .container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.container .task {
  width: 300px;
  height: 300px;
  background-color: var(--dark-grey);
  position: relative;
}

.task .title {
  background-color: var(--black-color);
  padding: 1rem .2rem;
  text-align: center;
  color: var(--light-green)
}

.task .description {
  padding: 1rem;
  white-space:pre-wrap;
}

.tasks .description li {
  margin: .3rem 0;
}

.task .edit {
  padding: .5rem 1.2rem;
  color: var(--light-green);
  background-color: var(--black-color);
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  border: none;
  outline: none;
}

.tasks .background {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(28, 26, 26, 0.9);
}

.tasks .bOpen {
  display: block;
}

.tasks .form {
  display: none;
  position: absolute;
  top: 100px;
  background-color: var(--black-color);
  border-radius: 10px;
  width: 400px;
}

.tasks .fOpen {
  display: block;
}

.form .header {
  padding: 1rem;
  text-align: center;
  color: var(--light-green);
  text-transform: uppercase;
  border-bottom: 1px solid var(--dark-grey);
}

.form .input {
  padding: 2rem;
}

.form .title,
.form .body {
  margin-bottom: 1rem;
}

.form .input label {
  color: var(--light-green);
  display: block;
  margin-bottom: .3rem;
}

.form .input input,
.form .input textarea {
  width: 100%;
  padding: .5rem;
  border-radius: 5px;
  outline: none;
}

.form .input textarea {
  resize: vertical;
}

.form .submit {
  display: block;
  margin: 1rem auto 0 auto;
  border: none;
  outline: none;
  background-color: var(--light-green);
  padding: .5rem 2rem;
  border-radius: 5px;
}

.form .error {
  margin-top: .5rem;
  border-radius: 5px;
  padding: .3rem 1rem;
  background-color: var(--background-danger);
  color: var(--text-danger);
  border: 1px solid var(--border-danger);
}

.form .error span {
  display: block;
  margin: .3rem 0;
}