.topbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--black-color);
  align-items: center;
  color: white;
  padding: .1rem 2rem;
}

.topbar .menu {
  padding: 1rem 0;
  display: none;
}

.topbar .logo {
  width: 75px;
}

.topbar .right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.topbar .company {
  display: flex;
  align-items: center;
  border: 1px solid var(--light-green);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  gap: 10px;
}

.topbar .users {
  display: flex;
  align-items: center;
  gap: 15px;
}

.users .accounts {
  position: relative;
}

.users .accounts svg {
  margin: 0 5px;
}

.right .pages {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.right .login {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid var(--light-green);
  padding: .5rem 1rem;
  border-radius: 10px;
}

.right .login a {
  text-decoration: none;
  color: white;
}

.accounts .bars {
  display: none;
  position: absolute;
  background-color: var(--dark-green);
  right: 0;
  top: 35px;
  z-index: 10;
  border-radius: 5px;
  overflow: hidden;
}

.accounts .bars ul {
  list-style: none;
}

.accounts .bars li {
  padding: 1rem 2.5rem;
  display: flex;
  align-items: center;
  gap: 3px;
  color: var(--yellow-color);
}

.accounts .bars li:hover {
  background-color: var(--light-green);
  font-weight: bold;
}

.accounts .open {
  display: block;
}

.right .notification span,
.right .accounts {
  cursor: pointer;
}

@media screen and (max-width: 860px) {
  .topbar .menu {
    display: block;
  }
  
  .topbar .logo {
    display: none;
  }
}

@media screen and (max-width: 460px) {
  .topbar {
    flex-direction: column;
    gap: 10px;
    padding-left: 0;
    padding-right: 0;
  }

  .topbar .right {
    margin-bottom: 1rem;
    flex-direction: column;
    gap: 15px;
    padding: 0;
    width: 100%;
  }

  .topbar .company {
    margin: 0 1rem;
    gap: 15px;
  }

  .accounts .icon {
    display: none;
  }

  .topbar .users {
    flex-direction: column;
    gap: 0;
    width: 100%;
  }

  .users .accounts {
    flex-direction: column;
    gap: 0;
    width: 100%;
  }

  .accounts .bars {
    display: block;
    position: static;
    margin-top: 1rem;
    background-color: var(--black-color);
    width: 100%;
    border-radius: 0;
  }

  .accounts .bars li {
    justify-content: center;
    color: white;
  }
}