.topbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--black-color);
  align-items: center;
  color: white;
  padding: .1rem 2rem;
}

.topbar .menu-bars {
  padding: 1rem 0;
  display: none;
}

.logo {
  width: 75px;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.topbar-right .company {
  display: flex;
  align-items: center;
  border: 1px solid var(--light-green);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  gap: 10px;
}

.topbar-right .users {
  display: flex;
  align-items: center;
  gap: 15px;
}

.topbar-right .accounts {
  position: relative;
}

.topbar-right .accounts svg {
  margin: 0 5px;
}

.accounts .menu-account {
  display: none;
  position: absolute;
  background-color: var(--dark-green);
  right: 0;
  top: 35px;
  z-index: 10;
  border-radius: 5px;
  overflow: hidden;
}

.accounts .menu-account.open {
  display: block;
}

.accounts .menu-account ul {
  list-style: none;
}

.accounts .menu-account li {
  padding: 1rem 2.5rem;
  display: flex;
  align-items: center;
  gap: 3px;
  color: var(--yellow-color);
}

.accounts .menu-account li:hover {
  background-color: var(--light-green);
  font-weight: bold;
}

.topbar-right .notification span,
.topbar-right .accounts {
  cursor: pointer;
}

@media screen and (max-width: 860px) {
  .topbar .menu-bars {
    padding: 1rem 0;
    display: block;
  }
  
  .logo {
    display: none;
  }
}

@media screen and (max-width: 460px) {
  .topbar {
    flex-direction: column;
    gap: 10px;
    padding-left: 0;
    padding-right: 0;
  }

  .topbar .topbar-right {
    margin-bottom: 1rem;
    flex-direction: column;
    gap: 15px;
    padding: 0;
    width: 100%;
  }

  .topbar-right .company {
    margin: 0 1rem;
    gap: 15px;
  }

  .topbar-right .action-account {
    display: none;
  }

  .topbar-right .users {
    flex-direction: column;
    gap: 0;
    width: 100%;
  }

  .topbar-right .accounts {
    flex-direction: column;
    gap: 0;
    width: 100%;
  }

  .topbar-right .menu-account {
    display: block;
    position: static;
    margin-top: 1rem;
    background-color: var(--black-color);
    width: 100%;
    border-radius: 0;
  }

  .accounts .menu-account li {
    justify-content: center;
    color: white;
  }
}