.users {
    padding: 2rem;
    width: 100%;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
}

.users .error,
.users .success {
    border-radius: 5px;
    padding: .3rem 1rem;
    width: 100%;
}

.users .error span,
.users .success span {
    display: block;
    margin: .3rem 0;
    font-size: .9rem;
}

.users .success {
    background-color: var(--background-success);
    color: var(--text-success);
    border: 1px solid var(--border-success);
    margin-bottom: .5rem;
}

.users .error {
    background-color: var(--background-danger);
    color: var(--text-danger);
    border: 1px solid var(--border-danger);
    margin-top: .5rem;
}
  
.users .form {
    padding: 2rem;
    background-color: var(--black-color);
    border-radius: 10px;
    width: 100%;
}

.users .form h2 {
    margin-bottom: 2rem;
    color: var(--light-green);
}

.users .big {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.big .group {
    width: 300px;
}

.big .group label {
    color: white;
    display: block;
    margin-bottom: .3rem;
}

.group .input {
    border-radius: 5px;
    padding: .5rem 1rem;
    width: 100%;
    outline: none;
    border: none;
    text-align: left;
}

.form .submit {
    margin: 2rem auto 0 auto;
    display: block;
    cursor: pointer;
    padding: .7rem 2rem;
    border-radius: 5px;
    background-color: var(--light-green);
    color: var(--black-color);
    border: 1px solid var(--light-green);
    outline: none;
}

.form .submit:hover {
    color: var(--light-green);
    background-color: transparent;
    border: 1px solid var(--light-green);
}

.users .table {
    margin-top: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    border-radius: 10px;
    padding: 2rem;
    background-color: white;
}

.table .title {
    margin-bottom: 1rem;
}

.table .delete {
    color: var(--light-green);
    background-color: var(--black-color);
    border: 1px solid var(--black-color);
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.table .delete:hover {
    background-color: var(--light-green);
    border: 1px solid var(--light-green);
    color: var(--black-color)
}