@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

:root {
  --black-color: #1C1A1A;
  --dark-green: #62703B;
  --light-green: #A7D12A;
  --yellow-color: #F8EEB4;
  --dark-grey: #C4C4C4;
  --light-grey: #F5F5F5;
  --text-danger: #721c24;
  --background-danger: #f8d7da;
  --border-danger: #f5c6cb;
  --text-success: #155724;
  --background-success: #d4edda;
  --border-success: #c3e6cb;
  --text-primary: #004085;
  --background-primary: #cce5ff;
  --border-primary: #b8daff;
  --text-secondary: #383d41;
  --background-secondary: #e2e3e5;
  --border-secondary: #d6d8db;
}