@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black-color: #1C1A1A;
  --dark-green: #62703B;
  --light-green: #A7D12A;
  --yellow-color: #F8EEB4;
  --grey-color: #F5F5F5;
}

body {
  font-family: 'Lato', sans-serif;
}